<h2>DOJO ACTIVITY CENTER</h2>
<h3>Welcome, @ViewBag.currUser.first_name </h3>
            <a asp-controller="User" asp-action="logout">LOGOUT</a>
<table>
    <thead>
        <tr>
            <th>Activity</th>
            <th>Date and Time</th>
            <th>Duration</th>
            <th>Event Coordinator</th>
            <th>Number of Participants</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var activity in ViewBag.AllActivities) {
            <tr>
                <td><a asp-controller= "Activity" asp-action= "Activity" asp-route-Id=@activity.ActivityId>@activity.Title</a></td>
                <td>@activity.Date.ToString("MMM d, yyyy") | @activity.Time </td>
                <td>@activity.Duration</td>
                <td>@activity.Coordinator</td>
                <td>@activity.Guests.Count</td>
                
                @if(ViewBag.Attending.Contains(@activity.ActivityId)){
                    
                    <td><a asp-controller="Activity" asp-action="UnRSVP" asp-route-Id=@activity.ActivityId>LEAVE</a></td>   
                }else {
                    <td><a asp-controller="Activity" asp-action="RSVP" asp-route-Id=@activity.ActivityId >JOIN</a></td>
                }
                <td>
                @if(activity.UserId == ViewBag.currUser.UserId ){
                <a asp-controller="Activity" asp-action="delActivity" asp-route-Id=@activity.ActivityId>Delete! </a> 
                }
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Activity" asp-action="ActivityForm"><button class="button-primary">Add New Activity</button></a>
